img.emoji {
  box-shadow: none;
  margin: 0;
}

pre {
  overflow-x: visible;
}

table {
  margin-bottom: 20px;
}

twitterwidget {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.post-content {
  iframe.video,
  iframe.ted,
  img {
    margin: 20px 0;
    border-radius: 5px;
  }
  ul,
  ol {
    font-weight: 300;
  }
}
