.post-content {
  iframe.video,
  iframe.ted,
  iframe.twitter-tweet,
  img {
    margin: 20px 0;
    border-radius: 5px;
  }
}

twitterwidget {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

img.emoji {
  box-shadow: none;
  margin: 0;
}

.center {
  text-align: center;
}
