---
layout: default
---

{% include post_header.html %}

<article class="post-content">
  {{ content }}

  <hr>
  {% if page.ad %}
    <p>
      <b>ad:</b> {% include ads/{{ page.ad }}.html %}
    </p>
  {% else %}
    <p>
      <a href="/contact">Your ad here.</a>
    </p>
  {% endif %}
</article>

{% if site.disqus_shortname %}
  {% include disqus.html %}
{% endif %}

{% if site.show_related_posts %}
  {% include related_posts.html %}
{% endif %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/ocean.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/go.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/erb.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/yaml.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
