---
layout: default
---

{% include post_header.html %}

<article class="post-content">
  {{ content }}
</article>

<div class="center padding">
  <a href="https://beerpay.io/caarlos0/caarlos0.github.com">
    <img src="https://beerpay.io/caarlos0/caarlos0.github.com/badge.svg" />
  </a>
</div>

{% if site.disqus_shortname %}
  {% include disqus.html %}
{% endif %}

{% if site.show_related_posts %}
  {% include related_posts.html %}
{% endif %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/darcula.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/go.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/erb.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/yaml.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
